In [1]:
from sql_rag import SQLRAG

In [7]:
model = SQLRAG()
model.prompt("What where the five highest recorded diabetes prevalences and from which year and country are they?", verbose=True, print_results=True)

Insert of existing embedding ID: id0
Insert of existing embedding ID: id1
Insert of existing embedding ID: id2
Add of existing embedding ID: id0
Add of existing embedding ID: id1
Add of existing embedding ID: id2

The sytem prompt is:
You are an SQLite query expert. Generate an optimized and accurate query based solely on the user's question, ensuring it follows the given context, response guidelines, and format instructions.

===Tables
CREATE TABLE "prevalence_of_diabetes_age_standardized" (
"rowid" INTEGER,
  "country" TEXT,
  "year" INTEGER,
  "sex" TEXT,
  "agegroup" TEXT,
  "value" REAL
)

Five random table rows:
|    |   rowid | country                          |   year | sex        | agegroup         |    value |
|---:|--------:|:---------------------------------|-------:|:-----------|:-----------------|---------:|
|  0 |    1536 | tokelau                          |   2002 | male       | 18+ years of age | 30.515   |
|  1 |   12322 | sao tome and principe            |   2019 | male       | 30+ years of age | 16.0918  |
|  2 |   13755 | saint vincent and the grenadines |   2020 | both sexes | 30+ years of age | 18.3596  |
|  3 |   19250 | jamaica                          |   2020 | female     | 18+ years of age | 26.8708  |
|  4 |   32412 | djibouti                         |   1991 | male       | 18+ years of age |  4.91412 |

CREATE TABLE "number_of_new_hiv_infections" (
"rowid" INTEGER,
  "country" TEXT,
  "year" INTEGER,
  "value" REAL
)

Five random table rows:
|    |   rowid | country                          |   year |   value |
|---:|--------:|:---------------------------------|-------:|--------:|
|  0 |       9 | eritrea                          |   2001 |    1900 |
|  1 |      86 | mozambique                       |   2013 |  160000 |
|  2 |     649 | south africa                     |   2002 |  510000 |
|  3 |     654 | uganda                           |   2013 |   83000 |
|  4 |    1192 | democratic republic of the congo |   2018 |   28000 |

CREATE TABLE "advertising_restrictions_on_social_media" (
"rowid" INTEGER,
  "country" TEXT,
  "year" INTEGER,
  "advertisingtype" TEXT,
  "value" TEXT
)

Five random table rows:
|    |   rowid | country    |   year | advertisingtype   | value                             |
|---:|--------:|:-----------|-------:|:------------------|:----------------------------------|
|  0 |       1 | iraq       |   2016 | wine ads          | voluntary/self-restricted         |
|  1 |       2 | malta      |   2016 | wine ads          | no restriction                    |
|  2 |       4 | uzbekistan |   2016 | wine ads          | ban                               |
|  3 |      74 | latvia     |   2016 | beer ads          | partial restriction place/content |
|  4 |     135 | myanmar    |   2016 | spirits ads       | partial restriction place         |

===Response Guidelines
1. Generate valid SQL if the context is sufficient. Ensure it is SQLite-compliant and error-free.
2. Use the most relevant tables only.
3. Use the example rows provided with each table, to ensure the right values are selected.
4. Use LIKE for filtering TEXT columns unless otherwise specified.
5. Avoid unnecessary complexity. Make the queries as short as possible. Do not focus on too many things at once.

select country, year, value
from prevalence_of_diabetes_age_standardized
order by value desc
limit 5;
|    | country          |   year |   value |
|---:|:-----------------|-------:|--------:|
|  0 | marshall islands |   2007 | 46.9759 |
|  1 | marshall islands |   2008 | 46.9299 |
|  2 | marshall islands |   2006 | 46.9051 |
|  3 | marshall islands |   2009 | 46.7798 |
|  4 | marshall islands |   2005 | 46.7364 |

The five highest recorded age-standardized prevalences of diabetes are all from the Marshall Islands, occurring between 2005 and 2009. The peak prevalence was 46.9759% in 2007, with slightly lower rates observed in subsequent years down to 46.7364% in 2005.